@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-container {
    @apply px-6 py-3 pr-5 pt-2;
    /* @apply px-6 py-3 pr-5 pt-2; */
  }
}

html,
body,
:root {
  user-select: none;
  height: 100%;
  background-color: #131111;
  color: white;
  color-scheme: dark;
}

table {
  border-collapse: collapse;
}

tr {
  border-radius: 25px;
  /* background-color: red; */
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Track Hover */
::-webkit-scrollbar-track:hover {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.collapsed-sidebar {
  padding: 0 !important;
  min-width: 0 !important;
}

.collapsed-sidebar > *:not(#sidebar-dragger) {
  visibility: hidden;
}
