@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  user-select: none;
  height: 100%;
  background-color: #131111;
  color: white;
  color-scheme: dark;
}

table {
  border-collapse: collapse;
}

tr {
  border-radius: 25px;
  /* background-color: red; */
}
