@import 'tailwindcss';

@theme {
  --color-primary: #319795;
  --color-secondary: #4adad7;
  --color-accent: #111111;
  --color-inactive: #a3a3a3;
  --color-base: #222222;
  --color-base-accent: #898989;
  --color-content: #e0e0e0;
  --color-background: #060606;
  --color-modal: #202020;
}
